@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f4f3f7,
    #e8e8f0,
    #dcdce8,
    #cfd1e1,
    #d2cedf,
    #d6ccdc,
    #dac9d8,
    #e9d0d6,
    #f1dad5,
    #f4e5d8,
    #f3f0e1
  );
}

p {
  font-family: Open Sans, Arial, sans-serif;
}

h2 {
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* MEDIA ______________________________________________________________________________  */
@media screen and (max-width: 1920px) {
  html,
  body {
    height: 100%;
  }
}
