
.search {
  display: flex;
  width: 93%;
}

.form_group {
  margin: auto;
  width: 90%;
  text-align: right;
}

.content {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 2%;
}

.background_black {
  margin: auto;
  width: 80%;
  height: auto;
  padding-bottom: 1rem;
  background-color: #252525;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.title_content {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(
    to right top,
    #d800ff,
    #f200d9,
    #ff00b6,
    #ff0096,
    #ff007b,
    #ff2a60,
    #ff4846,
    #fe632c,
    #f48f00,
    #dcb700,
    #b8db0e,
    #7efb5f
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.background_white {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding-top: .3rem;
  background-color: #fff;
  width: 98.3%;
  height: 25rem;
  border-radius: 0.3rem;
  overflow: auto;
}

/* MEDIA ____________________________________________________________________________________*/
@media screen and (max-width: 428px) {
  .search {
    padding: 0 0 1rem;
    margin: auto;
  }

  .form_group {
    display: flex;
  }

  .input_group {
    width: 90%;
  }
  .background_black {
    width: 100%;
  }

  .title_content {
    font-size: 1.2rem;
  }

  .background_white {
    display: grid;
    grid-template-columns: 1fr;
  }
}
