.container {
    width: 100%;
    text-align: center;
    top: 0;
}

.content {
    width: 81%;
    margin: auto;
    text-align: center;
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list_content {
    display: flex;
    gap: 2rem;
}

.list {
    font-size: 1rem;
    padding: 0 0.7rem;
}

.list:hover {
    color: #fff;
    background-image: linear-gradient(
        to right top,
        #d800ff,
        #f200d9,
        #ff00b6,
        #ff0096,
        #ff007b,
        #ff2a60,
        #ff4846,
        #fe632c,
        #f48f00,
        #dcb700,
        #b8db0e,
        #7efb5f
    );
    
    border-radius: 0.3rem 0 0.3rem 0;
    transition: all 0.3s ease-in;
}

/* MEDIA ______________________________________________________________________________*/

@media screen and (max-width: 428px) {
    .container {
        width: 100%;
    }

    .logotipo {
        width: 5.3rem;
        margin: auto;
    }

    .content {
        display: grid;
        width: max-content;
        gap: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        margin: auto;
    }

    .list_content {
        margin: auto;
    }

    .list {
        font-size: 0.8rem;
        font-weight: bold;
        align-items: center;
        padding: 0.5rem;
        letter-spacing: 0.1rem;
    }
}

@media screen and (width: 412px) {
    .container {
        width: 100%;
    }

    .logotipo {
        width: 5.3rem;
        margin: auto;
    }

    .content {
        width: max-content;
        gap: 2rem;
        padding: 1.5rem;
    }

    .list {
        font-size: 0.8rem;
        font-weight: bold;
        align-items: center;
        padding: 0;
    }
}

@media screen and (width: 320px) {
    .container {
        width: 100%;
    }

    .logotipo {
        width: 5.3rem;
        margin: auto;
    }

    .content {
        width: max-content;
        gap: 2rem;
        padding: 1.5rem;
    }

    .list {
        font-size: 0.8rem;
        font-weight: bold;
        align-items: center;
        padding: 0;
    }
}
