.container {
    width: 90%;
    padding: 2rem 0;
    margin: auto;
}

.cover {
    border-radius: 0.3rem;
}

.title_artist {
    margin: auto;
    padding: 0.3rem 0 0;
    font-size: 1rem;
    width: 80%;
    color: #252525;
}

.track_duration,
.album_title {
    margin: auto;
    font-size: 0.8rem;
    padding: 0.2rem 0;
    color: #424242;

    font-style: italic;
}

.album_title span {
    font-weight: bold;
}

.preview_content {
    margin: auto;
}

.bar_player {
    width: 80%;
    margin: 1rem auto;
    border-radius: 0.3rem;
}

.actions_btn {
    display: flex;
    margin: auto;
    width: 79.8%;
    align-items: center;
    justify-content: space-between;
}

.fullsong {
    background-image: linear-gradient(
        to right top,
        #d800ff,
        #f200d9,
        #ff00b6,
        #ff0096,
        #ff007b,
        #ff2a60,
        #ff4846,
        #fe632c,
        #f48f00,
        #dcb700,
        #b8db0e,
        #7efb5f
    );
    font-size: 0.7rem;
    color: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;
}

.fullsong:hover {
    transition: all 0.2s ease-in;
    font-weight: bold;
    transform: scale(1.1);
}

.favorite_btn {
    color: rgb(182, 0, 0);
    text-align: center;
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 1.6rem;
    height: 1.6rem;
}

.favorite_btn:hover {
    background-color: rgb(238, 235, 235);
    border: 1px solid rgb(150, 150, 150);
    cursor: pointer;
}

/* MEDIA _______________________________________________________________________________________________*/
@media only screen and (max-width: 428px) {
    .conatiner {
        padding: 2rem 0;
    }

    .bar_player {
        width: 100%;
    }

    .fullsong {
        font-size: 0.8rem;
    }

    .actions_btn {
        width: 99%;
    }

    .favorite_btn {
        width: auto;
    }
}
